In [1]:
import pandas as pd 
from datetime import datetime
import matplotlib.pyplot as plti

In [2]:
df_weather = pd.read_csv("../raw_data/weather_power_nasa.csv")
df_weather['date']=df_weather['date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d %H:%M:%S"))
df_weather.head()
df_weather['date_Y_M_D_H']=df_weather['date']
df_weather

,date,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,metropolitan_area_code,date_Y_M_D_H
0,2017-02-13 00:00:00,0.37,0.29,0.33,3.85,99.25,0.0,0,2017-02-13 00:00:00
1,2017-02-13 01:00:00,-0.20,-0.42,-0.31,3.66,98.56,0.0,0,2017-02-13 01:00:00
2,2017-02-13 02:00:00,-0.68,-1.02,-0.85,3.48,98.00,0.0,0,2017-02-13 02:00:00
3,2017-02-13 03:00:00,-1.02,-1.41,-1.21,3.42,97.94,0.0,0,2017-02-13 03:00:00
4,2017-02-13 04:00:00,-1.32,-1.72,-1.52,3.30,98.12,0.0,0,2017-02-13 04:00:00
...,...,...,...,...,...,...,...,...,...
776418,2022-04-30 19:00:00,10.05,7.98,9.01,6.59,87.00,0.0,16,2022-04-30 19:00:00
776419,2022-04-30 20:00:00,9.69,8.02,8.85,6.59,89.44,0.0,16,2022-04-30 20:00:00
776420,2022-04-30 21:00:00,9.40,7.98,8.69,6.59,91.00,0.0,16,2022-04-30 21:00:00
776421,2022-04-30 22:00:00,8.88,7.93,8.40,6.53,93.88,0.0,16,2022-04-30 22:00:00
776422,2022-04-30 23:00:00,8.27,7.91,8.09,6.53,97.69,0.0,16,2022-04-30 23:00:00

In [3]:
df_train = pd.read_csv("../raw_data/train.csv")
#df_train.head()

In [4]:
df_train['date']=df_train['date'].apply(lambda f: datetime.strptime(f,"%Y-%m-%d %H:%M:%S"))

In [5]:
df_train.dtypes

metropolitan_area_code             int64
date                      datetime64[ns]
energy_consumption               float64
dtype: object

In [6]:
df_train['year'] = df_train['date'].dt.strftime('%Y')
df_train['month'] = df_train['date'].dt.strftime('%m')
df_train['day'] = df_train['date'].dt.strftime('%d')
df_train['hour'] = df_train['date'].dt.strftime('%H')
df_train['minute'] = df_train['date'].dt.strftime('%M')
df_train['date_Y_M_D'] = df_train['date'].dt.strftime('%Y-%m-%d').apply(lambda f: datetime.strptime(f,"%Y-%m-%d")).apply(lambda f: datetime.strptime(f,"%Y-%m-%d")) #dt.strftime('%Y-%m-%d').apply(lambda f: datetime.strptime(f,"%Y-%m-%d"))
df_train['date_Y_M_D_H'] = df_train['date'].dt.strftime('%Y-%m-%d %H').apply(lambda f: datetime.strptime(f,"%Y-%m-%d %H"))
df_train.dtypes

TypeError: strptime() argument 1 must be str, not Timestamp

In [ ]:
df_train

In [ ]:
df_merged = pd.merge(df_train, df_weather, on=["date_Y_M_D_H","metropolitan_area_code"], how="inner")
df_merged

In [ ]:
!pwd