In [1]:
#jours_feries_metropole
import pandas as pd

In [2]:
df = pd.read_csv("../raw_data/jours_feries_metropole.csv")#, index_col=[0]

In [3]:
df

           date  annee       zone   nom_jour_ferie
0    2002-01-01   2002  Métropole      1er janvier
1    2002-04-01   2002  Métropole  Lundi de Pâques
2    2002-05-01   2002  Métropole          1er mai
3    2002-05-08   2002  Métropole            8 mai
4    2002-05-09   2002  Métropole        Ascension
..          ...    ...        ...              ...
281  2027-07-14   2027  Métropole       14 juillet
282  2027-08-15   2027  Métropole       Assomption
283  2027-11-01   2027  Métropole        Toussaint
284  2027-11-11   2027  Métropole      11 novembre
285  2027-12-25   2027  Métropole     Jour de Noël

[286 rows x 4 columns]

In [4]:
df = df.rename(columns={'date': 'Date', 'annee': 'YEAR'})

In [5]:
df = df.drop(["zone", "nom_jour_ferie"], axis=1)
df

           Date  YEAR
0    2002-01-01  2002
1    2002-04-01  2002
2    2002-05-01  2002
3    2002-05-08  2002
4    2002-05-09  2002
..          ...   ...
281  2027-07-14  2027
282  2027-08-15  2027
283  2027-11-01  2027
284  2027-11-11  2027
285  2027-12-25  2027

[286 rows x 2 columns]

In [6]:
df.columns

Index(['Date', 'YEAR'], dtype='object')

In [7]:
df = df.assign(ferie=1)

In [9]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [10]:
df.dtypes

Date     datetime64[ns]
YEAR              int64
ferie             int64
dtype: object

In [11]:
df.to_csv('../raw_data/df_ferie.csv')