In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../raw_data/df_energy_weather.csv", index_col=[0])
#print(df.columns)
df.columns
#pd.options.display.max_columns
pd.set_option("display.max_columns", None)
df

,Date,Code INSEE région,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Ech. physiques (MW),Stockage batterie,Déstockage batterie,Eolien terrestre,Eolien offshore,TCO Thermique (%),TCH Thermique (%),TCO Nucléaire (%),TCH Nucléaire (%),TCO Eolien (%),TCH Eolien (%),TCO Solaire (%),TCH Solaire (%),Column 30,YEAR,MONTH,DAY,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M,sin_Month,cos_Month,jour_semaine,sin_jour,cos_jour
0,2013-01-01,4464,257058.278726,15175.0,0.0,372.0,405.0,61254.0,-4.0,1808.0,173268.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,2013,1,1,7.30,6.40,6.85,7.08,5.75,9.60,3.86,6.16,94.12,5.62,97.76,3.23,5.29,0.5,0.866025,1,0.781831,0.623490
1,2013-01-02,4464,280064.000000,18369.0,0.0,1404.0,2655.0,70681.0,-12.0,1717.0,185143.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,2013,1,2,4.36,1.79,3.08,4.10,8.23,10.05,1.83,4.46,84.50,0.08,98.04,4.65,6.87,0.5,0.866025,2,0.974928,-0.222521
2,2013-01-03,4464,285526.000000,24755.0,0.0,626.0,2984.0,72282.0,0.0,2357.0,182412.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,2013,1,3,5.46,0.91,3.19,3.78,10.59,11.96,1.37,4.15,73.75,0.00,99.42,2.33,3.35,0.5,0.866025,3,0.433884,-0.900969
3,2013-01-04,4464,286799.000000,17085.0,0.0,1028.0,2570.0,68995.0,0.0,2988.0,194018.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,2013,1,4,5.92,2.24,4.08,4.06,11.30,12.80,1.51,4.58,79.12,0.01,99.19,2.50,3.72,0.5,0.866025,4,-0.433884,-0.900969
4,2013-01-05,4464,267848.000000,15479.0,0.0,1557.0,2898.0,62143.0,0.0,3051.0,182618.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,2013,1,5,6.64,2.37,4.50,4.85,12.38,14.41,2.04,4.76,74.88,0.00,98.51,3.25,5.05,0.5,0.866025,5,-0.974928,-0.222521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,2022-05-11,4464,218296.000000,34225.0,0.0,1909.0,10139.0,40944.0,-306.0,3115.0,128276.0,0.0,0.0,0.0,0.0,750.65,1257.37,0.0,0.0,41.85,1968.08,215.63,613.37,0.0,2022,5,11,18.10,10.98,14.55,18.10,10.06,23.51,13.45,8.36,65.50,0.00,98.39,2.50,3.04,0.5,-0.866025,2,0.974928,-0.222521
3413,2022-05-12,4464,209770.000000,47313.0,0.0,1695.0,15998.0,40585.0,-306.0,3177.0,101324.0,0.0,0.0,0.0,0.0,1075.23,1738.16,0.0,0.0,38.92,1747.49,359.01,967.83,0.0,2022,5,12,18.13,10.08,14.11,18.05,10.38,23.49,13.11,7.81,61.56,0.00,98.51,2.45,3.00,0.5,-0.866025,3,0.433884,-0.900969
3414,2022-05-13,4464,201061.000000,74913.0,0.0,1215.0,18002.0,41576.0,0.0,3561.0,61809.0,0.0,0.0,0.0,0.0,1795.44,2752.11,0.0,0.0,29.28,1252.63,419.87,1089.04,0.0,2022,5,13,18.01,10.59,14.30,18.40,10.09,23.48,13.39,8.24,64.94,0.10,98.33,2.34,3.11,0.5,-0.866025,4,-0.433884,-0.900969
3415,2022-05-14,4464,194195.000000,73265.0,0.0,266.0,19831.0,40031.0,-110.0,3245.0,57672.0,0.0,0.0,0.0,0.0,1816.54,2691.58,0.0,0.0,6.62,274.19,479.62,1199.69,0.0,2022,5,14,19.47,14.94,17.20,20.69,13.58,26.39,12.80,10.93,77.94,0.83,98.08,2.03,2.70,0.5,-0.866025,5,-0.974928,-0.222521
3416,2022-05-15,4464,187301.000000,27118.0,0.0,524.0,19200.0,39016.0,-165.0,3168.0,98438.0,0.0,0.0,0.0,0.0,704.69,996.26,0.0,0.0,13.29,540.18,473.24,1161.50,0.0,2022,5,15,19.63,14.10,16.87,20.39,10.77,25.51,14.73,10.31,72.88,0.44,98.13,3.02,3.87,0.5,-0.866025,6,-0.781831,0.623490

In [3]:
df.columns

Index(['Date', 'Code INSEE région', 'Consommation (MW)', 'Thermique (MW)',
       'Nucléaire (MW)', 'Eolien (MW)', 'Solaire (MW)', 'Hydraulique (MW)',
       'Pompage (MW)', 'Bioénergies (MW)', 'Ech. physiques (MW)',
       'Stockage batterie', 'Déstockage batterie', 'Eolien terrestre',
       'Eolien offshore', 'TCO Thermique (%)', 'TCH Thermique (%)',
       'TCO Nucléaire (%)', 'TCH Nucléaire (%)', 'TCO Eolien (%)',
       'TCH Eolien (%)', 'TCO Solaire (%)', 'TCH Solaire (%)', 'Column 30',
       'YEAR', 'MONTH', 'DAY', 'T2M', 'T2MDEW', 'T2MWET', 'TS', 'T2M_RANGE',
       'T2M_MAX', 'T2M_MIN', 'QV2M', 'RH2M', 'PRECTOTCORR', 'PS', 'WS10M',
       'WS50M', 'sin_Month', 'cos_Month', 'jour_semaine', 'sin_jour',
       'cos_jour'],
      dtype='object')

In [4]:
df = df[['Consommation (MW)', 'T2M', 'T2MDEW', 'T2MWET', 'TS', 'T2M_RANGE',
       'T2M_MAX', 'T2M_MIN', 'QV2M', 'RH2M', 'PRECTOTCORR', 'PS', 'WS10M',
       'WS50M']]

In [5]:
len_ = int(0.8*df.shape[0])
df_train = df[:len_]
df_test = df[len_:]
df_test

,Consommation (MW),T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M
2733,191372.0,23.91,11.65,17.78,25.20,12.05,30.11,18.05,8.79,48.44,0.00,97.94,2.88,3.60
2734,182621.0,24.15,12.84,18.49,25.75,13.05,30.95,17.90,9.52,53.06,0.01,97.91,2.61,3.27
2735,178320.0,24.65,14.26,19.46,26.32,14.12,31.79,17.67,10.50,56.62,0.02,97.97,3.37,4.20
2736,197951.0,25.34,15.41,20.38,26.59,12.09,31.23,19.14,11.29,58.25,0.02,97.76,5.62,7.45
2737,197513.0,24.52,12.48,18.50,26.12,14.41,32.23,17.82,9.28,50.94,0.00,97.59,4.34,5.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,218296.0,18.10,10.98,14.55,18.10,10.06,23.51,13.45,8.36,65.50,0.00,98.39,2.50,3.04
3413,209770.0,18.13,10.08,14.11,18.05,10.38,23.49,13.11,7.81,61.56,0.00,98.51,2.45,3.00
3414,201061.0,18.01,10.59,14.30,18.40,10.09,23.48,13.39,8.24,64.94,0.10,98.33,2.34,3.11
3415,194195.0,19.47,14.94,17.20,20.69,13.58,26.39,12.80,10.93,77.94,0.83,98.08,2.03,2.70
3416,187301.0,19.63,14.10,16.87,20.39,10.77,25.51,14.73,10.31,72.88,0.44,98.13,3.02,3.87

In [6]:
from sklearn.preprocessing import MinMaxScaler
columns = df.columns

scaler = MinMaxScaler()
df_train = pd.DataFrame(scaler.fit_transform(df_train), columns=columns)
df_test = pd.DataFrame(scaler.transform(df_test), columns=columns)
df_train.head()

,Consommation (MW),T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M
0,0.493945,0.284957,0.486219,0.400492,0.250290,0.261084,0.197032,0.319344,0.289685,0.945232,0.057429,0.589852,0.168310,0.236607
1,0.603878,0.198410,0.323322,0.267932,0.163863,0.396825,0.208547,0.252787,0.165326,0.792071,0.000817,0.649049,0.268310,0.324777
2,0.629979,0.230792,0.292226,0.271800,0.154582,0.525999,0.257421,0.237705,0.142648,0.620920,0.000000,0.940803,0.104930,0.128348
3,0.636062,0.244333,0.339223,0.303094,0.162703,0.564860,0.278915,0.242295,0.174104,0.706416,0.000102,0.892178,0.116901,0.148996
4,0.545504,0.265528,0.343816,0.317862,0.185615,0.623974,0.320113,0.259672,0.187271,0.638911,0.000000,0.748414,0.169718,0.223214

In [7]:
def subsample_sequence(df, length):
    """
    Given the initial dataframe `df`, return a shorter dataframe sequence of length `length`.
    This shorter sequence should be selected at random.
    """
    
    last_possible = df.shape[0] - length
    
    random_start = np.random.randint(0, last_possible)
    df_sample = df[random_start: random_start+length]
    
    return df_sample

def compute_means(X, df_mean):
    '''utils'''
    # Compute means of X
    means = X.mean()
    
    # Case if ALL values of at least one feature of X are NaN, then reaplace with the whole df_mean
    if means.isna().sum() != 0:
        means.fillna(df_mean, inplace=True)
        
    return means

def split_subsample_sequence(df, length, df_mean=None):
    """Return one single sample (Xi, yi) containing one sequence each of length `length`"""
    #	Consommation (MW)	T2M	T2M_MIN
    
    features_names = ['T2M', 'T2MDEW', 'T2MWET', 'TS', 'T2M_RANGE',
       'T2M_MAX', 'T2M_MIN', 'QV2M', 'RH2M', 'PRECTOTCORR', 'PS', 'WS10M',
       'WS50M']
    
    # Trick to save time during the recursive calls
    if df_mean is None:
        df_mean = df[features_names].mean()
        
    df_subsample = subsample_sequence(df, length).copy()
    
    # Let's drop any row without a target! We need targets to fit our model
    
    # pas de nan dans le dataset
    #df_subsample.dropna(how='any', subset=['pm2.5'], inplace=True)
    
    # Create y_sample
    if df_subsample.shape[0] == 0: # Case if there is no targets at all remaining
        return split_subsample_sequence(df, length, df_mean) # Redraw by recursive call until it's not the case anymore
    y_sample = df_subsample[['Consommation (MW)']]
    
    # Create X_sample
    X_sample = df_subsample[features_names]
    if X_sample.isna().sum().sum() !=0:  # Case X_sample has some NaNs
        X_sample = X_sample.fillna(compute_means(X_sample, df_mean))
        
    return np.array(X_sample), np.array(y_sample)


# modification de la longueur de sequence:

def get_X_y(df, sequence_lengths):
    #Return a dataset (X, y)
    X, y = [], []

    for length in sequence_lengths:
        xi, yi = split_subsample_sequence(df, length)
        X.append(xi)
        y.append(yi)
        
    return X, y

In [8]:
from tensorflow.keras import models
from tensorflow.keras import layers, metrics
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.callbacks import EarlyStopping

In [9]:
def init_model(input_shape_value):
    metric = metrics.MAPE
    
    model = models.Sequential()
    #model.add(layers.Masking(mask_value=-1000., input_shape=(30,2)))
    #model.add(layers.LSTM(20, return_sequences=True, activation='tanh'))
    # Ajout d'une couche + drop
    
    
    model.add(layers.LSTM(20, return_sequences = True, input_shape=input_shape_value, activation='tanh'))
    model.add(layers.Dropout(0.2))
    # ajout
    #model.add(layers.LSTM(40, return_sequences = True, activation='tanh'))
    #model.add(layers.Dropout(0.2))
    #model.add(layers.LSTM(30, return_sequences = True, activation='tanh'))
    #model.add(layers.Dropout(0.2)) 
    
    # fin
    #model.add(layers.LSTM(20, return_sequences = True, activation='tanh'))
    #model.add(layers.Dropout(0.2))
    model.add(layers.LSTM(10, return_sequences = True, activation='tanh'))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(5, activation = 'relu'))
    model.add(layers.Dense(1, activation = 'linear'))
    

    model.compile(loss='mse', 
                  optimizer=RMSprop(learning_rate=0.0003), 
                  metrics=[metric])
    
    return model

In [10]:
def train_model(train_size, longueur_sequence):
    
    
    test_size = round(0.2 * train_size)
    
    sequence_lengths_train = [longueur_sequence] * train_size
    X_train, y_train = get_X_y(df_train, sequence_lengths_train)
    
    # modification longueur sequence
    sequence_lengths_test = [14] * test_size
    X_test, y_test = get_X_y(df_test, sequence_lengths_test)
    
    X_train_pad = np.asarray(X_train)
    y_train_pad = np.asarray(y_train)
    X_test_pad = np.asarray(X_test)
    y_test_pad = np.asarray(y_test)

    input_shape_value = X_train_pad.shape[1:3]
    

    model = init_model(input_shape_value)

    es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=5, restore_best_weights=True)

    
    #history = 
    model.fit(X_train_pad, y_train_pad,
            validation_split=0.2,
            epochs=1000, 
            batch_size=64,
            callbacks=[es], verbose=0)
    
    
    # TEST
    res = model.evaluate(X_test_pad, y_test_pad, verbose=1)
    #return res
    
    predictions = model.predict(X_test_pad)
    
    return res, predictions, y_test_pad

nb_jours_grid = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]
nb_sequences_grid = [50,100,150,200, 250, 300, 350 ,400, 450, 500]

MAE = []

possible = len(nb_jours_grid)*len(nb_sequences_grid)

i = 0
for nb_jours in nb_jours_grid:
    for nb_sequences in nb_sequences_grid:
        res = train_model(nb_sequences, nb_jours)
        MAE.append((nb_jours, nb_sequences, res[1]))
        
        print(f'For {nb_sequences} sequences and {nb_jours} days of observation, the MAE is of {res[1]:.5f} %')

        i += 1
        
        pourcent = (i/possible)*100

        print(f'{i} possibilité calculé sur {possible} possibilités soit {pourcent}% ')

# TEXT ajout de evaluate

i = 0
for nb_jours in nb_jours_grid:
    for nb_sequences in nb_sequences_grid:
        model = train_model(nb_sequences, nb_jours)
        res = model.evaluate(X_test_pad, y_test_pad, verbose=1)
        MAE.append((nb_jours, nb_sequences, res[1]))
        
        print(f'For {nb_sequences} sequences and {nb_jours} days of observation, the MAE is of {res[1]:.5f} %')

        i += 1
        
        pourcent = (i/possible)*100

        print(f'{i} possibilité calculé sur {possible} possibilités soit {pourcent}% ')

In [11]:
#pd.DataFrame(MAPE).sort_values(by = 2).rename(columns={0: "nb_jours", 1: "nb_sequences", 2 :"MAPE"})

In [12]:
score, result, y_test_pad = train_model(2000, 80)

2022-06-17 09:03:19.012558: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-06-17 09:03:19.246339: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)

Restoring model weights from the end of the best epoch.
Epoch 00056: early stopping
WARNING:tensorflow:Model was constructed with shape (None, 80, 13) for input KerasTensor(type_spec=TensorSpec(shape=(None, 80, 13), dtype=tf.float32, name='lstm_input'), name='lstm_input', description="created by layer 'lstm_input'"), but it was called on an input with incompatible shape (None, 14, 13).
13/13 [==============================] - 0s 2ms/step - loss: 0.0053 - mean_absolute_percentage_error: 19.3789
WARNING:tensorflow:Model was constructed with shape (None, 80, 13) for input KerasTensor(type_spec=TensorSpec(shape=(None, 80, 13), dtype=tf.float32, name='lstm_input'), name='lstm_input', description="created by layer 'lstm_input'"), but it was called on an input with incompatible shape (None, 14, 13).

In [13]:
y_test_pad[0]

array([[0.57659758],
       [0.56663911],
       [0.54086367],
       [0.61589151],
       [0.69534905],
       [0.68503218],
       [0.59196537],
       [0.48801304],
       [0.4688272 ],
       [0.42897419],
       [0.47935432],
       [0.47335726],
       [0.46291137],
       [0.4662229 ]])

In [14]:
result[0]

array([[0.40838233],
       [0.48407236],
       [0.54186016],
       [0.5794933 ],
       [0.6144675 ],
       [0.6283367 ],
       [0.58569896],
       [0.532306  ],
       [0.526442  ],
       [0.51523834],
       [0.49380583],
       [0.4663773 ],
       [0.43934688],
       [0.42903182]], dtype=float32)

In [15]:
score

[0.00530451163649559, 19.37891387939453]

In [16]:
MAPE_score=[]
#for i,j in enumerate(y_test_pad, result):
    #MAPE_score.append(metrics.MAPE(i,j))
    
for i in range(0,100):
    
    MAPE_score.append(metrics.MAPE(y_test_pad[i].reshape(10,), result[i].reshape(10,)))

ValueError: cannot reshape array of size 14 into shape (10,)

In [ ]:
np.mean(MAPE_score)

In [ ]:
metrics.MAPE(y_test_pad[2].reshape(10,), result[2].reshape(10,))

In [ ]:
",".join(y_test_pad[2])

In [ ]:
y_test_pad[2].reshape(10,)