In [1]:
import pandas as pd 
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
df_weather = pd.read_csv("../raw_data/weather_day_2013_06132022.csv")
df_weather

,YEAR,MO,DY,ALLSKY_KT,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,T2M,T2MDEW,...,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M
0,2013,1,1,0.18,10.51,35.73,0.58,2.00,7.30,6.40,...,7.08,5.75,9.60,3.86,6.16,94.12,5.62,97.76,3.23,5.29
1,2013,1,2,0.66,36.86,37.99,2.13,2.15,4.36,1.79,...,4.10,8.23,10.05,1.83,4.46,84.50,0.08,98.04,4.65,6.87
2,2013,1,3,0.68,39.05,39.23,2.22,2.18,5.46,0.91,...,3.78,10.59,11.96,1.37,4.15,73.75,0.00,99.42,2.33,3.35
3,2013,1,4,0.59,34.59,39.64,1.96,2.21,5.92,2.24,...,4.06,11.30,12.80,1.51,4.58,79.12,0.01,99.19,2.50,3.72
4,2013,1,5,0.66,38.91,40.09,2.21,2.23,6.64,2.37,...,4.85,12.38,14.41,2.04,4.76,74.88,0.00,98.51,3.25,5.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3446,2022,6,9,-999.00,-999.00,-999.00,-999.00,-999.00,19.28,9.68,...,20.27,10.46,24.57,14.11,7.75,56.75,0.01,97.53,11.31,14.23
3447,2022,6,10,-999.00,-999.00,-999.00,-999.00,-999.00,21.96,9.11,...,23.63,17.08,29.76,12.69,7.45,47.88,0.00,97.90,3.29,4.34
3448,2022,6,11,-999.00,-999.00,-999.00,-999.00,-999.00,24.53,10.37,...,25.55,15.56,32.06,16.50,8.06,44.94,0.00,98.15,3.05,4.14
3449,2022,6,12,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
3450,2022,6,13,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00

In [3]:
# SUPPRESSION DES COLONNES CORRESPONDANT AUX SOLAIRES CAR DONNEES MANQUANTES POUR LES DERNIERS MOIS

df_weather.drop(['ALLSKY_KT','ALLSKY_SFC_PAR_TOT','CLRSKY_SFC_PAR_TOT','ALLSKY_SFC_SW_DWN','CLRSKY_SFC_SW_DWN',], axis=1, inplace = True)

In [4]:
# SUPPRESSION DES DEUX DERNIERS JOURS CAR DATA PAS ENCORE ACTUALISE

df_weather.drop(df_weather.tail(2).index, inplace = True)

In [5]:
df_weather

,YEAR,MO,DY,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M
0,2013,1,1,7.30,6.40,6.85,7.08,5.75,9.60,3.86,6.16,94.12,5.62,97.76,3.23,5.29
1,2013,1,2,4.36,1.79,3.08,4.10,8.23,10.05,1.83,4.46,84.50,0.08,98.04,4.65,6.87
2,2013,1,3,5.46,0.91,3.19,3.78,10.59,11.96,1.37,4.15,73.75,0.00,99.42,2.33,3.35
3,2013,1,4,5.92,2.24,4.08,4.06,11.30,12.80,1.51,4.58,79.12,0.01,99.19,2.50,3.72
4,2013,1,5,6.64,2.37,4.50,4.85,12.38,14.41,2.04,4.76,74.88,0.00,98.51,3.25,5.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444,2022,6,7,22.98,12.65,17.81,23.83,10.18,27.95,17.77,9.46,55.62,0.04,97.70,6.27,8.70
3445,2022,6,8,20.11,12.96,16.54,20.87,8.83,24.93,16.10,9.58,64.00,1.88,97.43,5.49,7.30
3446,2022,6,9,19.28,9.68,14.48,20.27,10.46,24.57,14.11,7.75,56.75,0.01,97.53,11.31,14.23
3447,2022,6,10,21.96,9.11,15.53,23.63,17.08,29.76,12.69,7.45,47.88,0.00,97.90,3.29,4.34
3448,2022,6,11,24.53,10.37,17.45,25.55,15.56,32.06,16.50,8.06,44.94,0.00,98.15,3.05,4.14

In [6]:
df_weather.rename(columns = {'MO': 'MONTH','DY': 'DAY'}, inplace = True)

In [7]:
# CREATION CHAMPS DATE

df_weather['Date'] = pd.to_datetime(df_weather[['YEAR','MONTH', 'DAY']], errors = 'coerce')

In [8]:
df_weather.head()

,YEAR,MONTH,DAY,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS50M,Date
0,2013,1,1,7.30,6.40,6.85,7.08,5.75,9.60,3.86,6.16,94.12,5.62,97.76,3.23,5.29,2013-01-01
1,2013,1,2,4.36,1.79,3.08,4.10,8.23,10.05,1.83,4.46,84.50,0.08,98.04,4.65,6.87,2013-01-02
2,2013,1,3,5.46,0.91,3.19,3.78,10.59,11.96,1.37,4.15,73.75,0.00,99.42,2.33,3.35,2013-01-03
3,2013,1,4,5.92,2.24,4.08,4.06,11.30,12.80,1.51,4.58,79.12,0.01,99.19,2.50,3.72,2013-01-04
4,2013,1,5,6.64,2.37,4.50,4.85,12.38,14.41,2.04,4.76,74.88,0.00,98.51,3.25,5.05,2013-01-05

In [9]:
# EXPORTATION DU DATAFRAME

df_weather.to_csv('../raw_data/df_weather_clean.csv')